.top-navbar-box{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #d70000;
    height: 50px;
    width: 100vw;
}

.logo-navbar{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    height: 50px;
}

.navbar-title-box{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-title{
    margin: 0;
    font-family: auto;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    color: white;
    
}

.navbar-title-a-tag{
text-decoration: none;
color: white;
font-weight: bold;
}

@media (max-width:600px){
    .top-navbar-box{
        height: 30px;
    }
    .logo-navbar{
        height: 30px;
    }
    .navbar-title-box{
        height: 30px;
    }
    .navbar-title{
        font-size: 1.2em;
    }
    .navbar-title-a-tag{
        font-size: 0.8em;
    }
}
