.top-navbar-box{
    position: fixed;
    background-color: #d70000;
    height: 50px;
    width: 100vw;
}

.logo-navbar{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    position: fixed;
    height: 50px;
    margin-left: 20px;
}

.navbar-title-box{
    position: fixed;
    width: 100vw;
    min-width: 900px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-title{
    margin: 0;
    font-family: auto;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    color: white;
    
}

.navbar-title-a-tag{
text-decoration: none;
}
