.NewsPage-box{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: flex-start;
}

.News-page-zone{
    display: flex;
    flex-direction: row;
}