.back-whole-page{
    min-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh ;
}

@media (max-width:600px){
    .back-whole-page{
    min-width: 0px;
    min-height: 0px;
    }
}